// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.help {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}
.help.is-danger {
    color: #ff3860;
}
.is-danger.input, .is-danger.textarea {
    border-color: #ff3860;
}

@include media-breakpoint-down(sm) {
    .current-sprints {
        .planner-type.current, .assembla-link-text {
            display: none;
        }

        h4.mt-4 {
            font-size: 1rem;
        }

        .row.justify-content-center div.col-10 {
            flex: 0 0 100%;
            max-width: 100%;
        }

    }
}