// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "sections/currentsprints.scss";
@import "sections/sprints.show.scss";

.help {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}
.help.is-danger {
    color: #ff3860;
}
.is-danger.input, .is-danger.textarea {
    border-color: #ff3860;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container-fluid {
    padding-right: 1.5rem ;
    padding-left: 1.5rem ;
}
.col-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.alert.alert-info {
    a {
        color: #4e73df;
        text-decoration: underline;
    }
}

.planner-type {
    padding: 3px 5px 3px;
    border-radius: 3px;
    line-height: 17px;
    font-size: 11px;
    cursor: pointer;
    color: white;
    position: relative;
    top: -3px;
}

.planner-type.current {
    background-color: rgb(122, 185, 102);
}
.planner-type.backlog {
    background-color: rgb(51, 54, 55);
}


@media screen and (max-width: 1000px) {
    .d-flex.project-report-fields {
        display: block!important;
    }
    .card-bg-secondary .d-flex .w-33 {
        width: 100% !important;
    }
}