// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "sections/currentsprints.scss";
.help {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}
.help.is-danger {
    color: #ff3860;
}
.is-danger.input, .is-danger.textarea {
    border-color: #ff3860;
}