@import url(https://fonts.googleapis.com/css?family=Nunito);.report-container {
  padding: 25px;
}

.report-container .table thead th {
  text-transform: uppercase;
}

.report-container .report-header {
  margin-bottom: 20px;
}

.report-container .report-header span {
  display: block;
}

.report-container .report-header h4 {
  text-transform: capitalize;
}

.report-container .report-header .report-dates-totals strong {
  font-size: 1.2rem;
}

.report-container .report-table-header {
  padding: 15px;
  background-color: #333333;
  color: #ded5d5;
  border-radius: 0.35rem 0.35rem 0 0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.report-container .report-table-header h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.report-container .report-stats {
  width: 160px;
  padding: 15px;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  border-left: 0.25rem solid #333333;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  display: inline-block;
  margin: 0 20px 20px 0;
}

.report-container .report {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.report-container .report .report-user-stories {
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  border-radius: 0 0 0.35rem 0.35rem;
  margin-bottom: 20px;
}

